.list{
    position: sticky;
    top: 0;
    padding: 30px 15px 15px 15px;
}

.list img{
    width: 60px;
    height: 50px;
    border-radius: 30px;
}

.name{
   display: flex;
   align-items: center;
}
.name h3, p{
    margin: 0;
}
.information{
    background-color:darkgray;
    display:flex;
    gap: 15px;
    padding: 12px;
    margin-top: 20px;
    border-radius: 10px
}
.information p{
    font-size: 20px
}

.btn-break{
    background-color:darkgray;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px 0;
}
.btn-break button{
    padding: 10px;
    border-radius: 20px;
    margin-right: 5px;
    margin-left: 7px;
    border: none;
}
.btn-break button:hover{
    background-color: blue;
    color: white;
}
.exercise-time{
    background-color:darkgray;
    border-radius: 10px;
    padding: 5px;
}
.break-time{
    margin-top: 10px;
    background-color:darkgray;
    border-radius: 10px;
    padding: 5px ;
}
.btn-complete{
    margin-top: 70px;
    margin-bottom: 100px;
    width: 100%;
    padding: 10px 0;
    background-color:deepskyblue;
    border: none;
    border-radius: 5px;
    font-size: larger;
    font-weight: 500;
    color: white;
}
.btn-complete:hover{
    background-color: dodgerblue;
}