.home{
    display: grid;
    grid-template-columns: 4fr 1fr;
    border: 1px solid red;
}

.home-left{
    border: 1px solid blue;
    margin-top: 100px;
    padding: 0 70px 30px 70px;
}

.home-left-runners{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.home-right{
    border: 1px solid brown;
    margin: 10px;
}